body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  width: 100%;
  font-size: 1.2rem;
  color: grey;
}

.cardGrid{
  display: flex;
  flex-wrap: wrap;
}
.card{
  border: 1px solid grey;
  border-radius: 0.25rem;
  margin-bottom: 10px;
  margin-right: 10px;
  align-content: center;
  overflow: hidden;
}
.card p{
  padding: 0.25rem;
  text-align: center;
}
.card img{
  max-height: 175px;
}